/* App.css */
.rotate-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: tilt 3s ease-in-out infinite; /* Tilt animation */
  z-index: 10; /* Added z-index to bring the icon in front */
}

.icon {
  width: 100px; /* Set a smaller width */
  height: 100px; /* Set a smaller height */
}

@keyframes tilt {
  0%, 100% {
    transform: translate(-50%, -50%) rotate(0deg); /* Start and end at original position */
  }
  
  50% {
    transform: translate(-50%, -50%) rotate(-15deg); /* Tilt to the left */
  }
  
  75% {
    transform: translate(-50%, -50%) rotate(10deg); /* Tilt to the right */
  }
}